{% extends 'back/base.html.twig' %}

{% block title %}GESTION DE TABLE  {% endblock %}

{% block body %}
    <h1 id="h1">GESTION DE TABLE - AMENAGEMENT</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                           
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for arrangement in arrangements %}
            <tr>
                <td>{{ arrangement.id }}</td>
                <td>{{ arrangement.name }}</td>
               
                <td>
                    <a href="{{ path('back_arrangement_editArrangement', {'id' : arrangement.id }) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">PAS DE DONNEE TROUVE</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="c"><a href="{{ path('back_arrangement_newArrangement')}}">AJOUTER AMENAGEMENT</a></div>
    <div id="c"><a href="{{ path('back_halltable_gestiontable') }}">Retour</a></div>


{% endblock %}
